::selection {
  background-color: rgba($primaryColor, 0.15);
}

:focus-visible {
  outline-color: $primaryColor;
}

html,
body {
  line-height: 22px;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  color: $txtPrimaryColor;
}

%block {
  display: block;
  width: 100%;
}

%flex {
  display: flex;
  width: 100%;
  align-items: center;
}

// headings
%h {
  display: block;
  margin: 0;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  @extend %h;
}
h1 {
  font-size: 30px;
  line-height: 34px;
}
h2 {
  font-size: 26px;
  line-height: 32px;
}
h3 {
  font-size: 24px;
  line-height: 28px;
}
h4 {
  font-size: 20px;
  line-height: 26px;
}
h5 {
  font-size: 17px;
  line-height: 24px;
}
h6 {
  font-size: 15px;
  line-height: 24px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: $smallFontSize;
  line-height: $smallFontSize + 4;
}

sub,
sup {
  font-size: 0.8em;
  line-height: 1;
}
sup {
  vertical-align: top;
}
sub {
  vertical-align: bottom;
}

p {
  @extend %block;
  margin: 5px 0;
}

blockquote {
  @extend %block;
  position: relative;
  padding-left: 15px;
  font-style: italic;
  color: $txtHintColor;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: $borderColor;
  }
}

ol,
ul {
  margin: 10px 0;
  list-style: decimal;
  padding-left: $baseSpacing;
}
ul {
  list-style: disc;
}

img {
  max-width: 100%;
}

hr {
  display: block;
  border: 0;
  height: 1px;
  width: 100%;
  background: $borderColor;
  margin: $baseSpacing 0;
}

a {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
  i, .txt {
    display: inline-block;
    vertical-align: top;
  }
}

// text helpers
.txt-center {
  text-align: center !important;
}
.txt-left {
  text-align: left !important;
}
.txt-right {
  text-align: right !important;
}
.txt-hint {
  color: $txtHintColor !important;
}
.link-hint {
  cursor: pointer;
  color: $txtHintColor !important;
  text-decoration: none;
  transition: color $transitionSpeed;
  &:hover,
  &:focus-visible,
  &:active {
    color: $txtPrimaryColor !important;
  }
}

// color helpers
@each $name, $color in $colorsMap {
  .txt-#{$name} {
    color: $color !important;
  }
  .link-#{$name} {
    cursor: pointer;
    color: $color !important;
    text-decoration: none;
    transition: opacity $transitionSpeed;
    &:hover {
      opacity: 0.7;
    }
  }
}

.hidden {
  display: none !important;
}

.block {
  @extend %block;
}

.clearfix {
  @extend %block;
  clear: both;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.group {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  column-gap: $smallSpacing;
}

.content {
  @extend %block;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.placeholder {
  @extend %block;
  text-align: center;
  padding: $baseSpacing 0;
  color: $txtHintColor;
  & > * {
    margin: 0 0 $smallSpacing;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .icon {
    display: block;
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    color: $txtDisabledColor;
    i {
      vertical-align: top;
      font-size: inherit;
    }
  }
}

// flex helpers
.flex {
  @extend %flex;
}
.flex-fill {
  flex: 1 1 auto !important;
}
@for $i from 0 through 6 {
  .flex-order-#{$i} {
    order: $i;
  }
}

// spacing helpers
@each $sizeAlias, $size in $sizesMap {
  .m-#{$sizeAlias} { margin: $size !important; }
  .p-#{$sizeAlias} { padding: $size !important; }
}
@each $sideAlias, $side in $sidesMap {
  @each $sizeAlias, $size in $sizesMap {
    .m-#{$sideAlias}-#{$sizeAlias} { margin-#{$side}: $size !important; }
    .p-#{$sideAlias}-#{$sizeAlias} { padding-#{$side}: $size !important; }
  }
}
@for $i from 0 through 12 {
  $spacing: 5 * $i;

  .m-#{$spacing} { margin: $spacing * 1px !important; }
  .p-#{$spacing} { padding: $spacing * 1px !important; }
  @each $sideAlias, $side in $sidesMap {
    .m-#{$sideAlias}-#{$spacing} { margin-#{$side}: $spacing * 1px !important; }
    .p-#{$sideAlias}-#{$spacing} { padding-#{$side}: $spacing * 1px !important; }
  }
}

.wrapper {
  width: $baseWrapperWidth;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 100%;
}

.thumb {
  $size: 60px;
  outline: 0;
  flex-shrink: 0;
  position: relative;
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: $size;
  height: $size;
  border-radius: $baseRadius;
  background: $borderColor;
  color: $txtHintColor;
  font-size: $baseFontSize;
  line-height: 1;
  text-decoration: none;
  user-select: none;
  i {
    font-size: 1.2em;
  }
  i,
  .txt,
  img {
    display: inline-block;
    vertical-align: top;
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  .remove-handle {
    $size: 20px;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -5px;
    width: $size;
    height: $size;
    border-radius: $size;
    color: #fff;
    font-size: $baseFontSize;
    line-height: 1;
    opacity: 0.8;
    cursor: pointer;
    background: $warningColor;
    transition: opacity $transitionSpeed;
    user-select: none;
    i {
      font-size: inherit;
    }
    &:hover,
    &:active,
    &:focus-visible {
      opacity: 1;
    }
  }

  // styles
  &.thumb-rounded {
    border-radius: 50%;
  }
  &.thumb-sm {
    $size: 40px;
    width: $size;
    height: $size;
    i {
      font-size: 1.11em;
    }
  }
  &.thumb-lg {
    $size: 80px;
    width: $size;
    height: $size;
    i {
      font-size: 1.3em;
    }
  }
}
