/* ubuntu-regular - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
       url('../fonts/ubuntu/ubuntu-v14-latin_cyrillic-regular.woff2?v=1') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/ubuntu/ubuntu-v14-latin_cyrillic-regular.woff?v=1') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-italic - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'),
       url('../fonts/ubuntu/ubuntu-v14-latin_cyrillic-italic.woff2?v=1') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/ubuntu/ubuntu-v14-latin_cyrillic-italic.woff?v=1') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-700 - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
       url('../fonts/ubuntu/ubuntu-v14-latin_cyrillic-700.woff2?v=1') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/ubuntu/ubuntu-v14-latin_cyrillic-700.woff?v=1') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-700italic - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'),
       url('../fonts/ubuntu/ubuntu-v14-latin_cyrillic-700italic.woff2?v=1') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/ubuntu/ubuntu-v14-latin_cyrillic-700italic.woff?v=1') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* remixicon  */
@font-face {
  font-family: 'remixicon';
  src: url('../fonts/remixicon/remixicon.woff2?v=1') format('woff2'),
       url('../fonts/remixicon/remixicon.woff?v=1') format('woff'),
       url('../fonts/remixicon/remixicon.ttf?v=1') format('truetype'),
       url('../fonts/remixicon/remixicon.svg?v=1#remixicon') format('svg'); /* iOS 4.1- */
  font-display: swap;
}
