button, .btn {
  position: relative;
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 3px 20px;
  min-height: $baseFieldHeight;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: $baseFontSize - 2;
  font-family: $baseFontFamily;
  text-decoration: none;
  text-transform: uppercase;
  background: none;
  color: $txtHintColor;
  border-radius: $baseRadius;
  transition: color $transitionSpeed, background $transitionSpeed;
  > i,
  > .txt {
    display: inline-block;
    vertical-align: top;
    transition: opacity $transitionSpeed,
          transform $transitionSpeed;
  }
  i, [class^=ri-] {
    font-size: 1.18rem;
    font-weight: normal;
  }

  // states
  &:hover,
  &:focus-visible,
  &:active {
    color: $txtPrimaryColor;
    background: $borderColor;
  }
  &:active {
    background: darken($borderColor, 2%);
    transition-duration: $transitionSpeed * 0.5;
  }

  // sizes
  &.btn-expanded {
    min-width: 140px;
  }
  &.btn-expanded-sm {
    min-width: 90px;
  }
  &.btn-expanded-lg {
    min-width: 170px;
  }
  &.btn-sm {
    font-size: $smallFontSize - 2;
    min-height: $smallFieldHeight;
    padding-left: 15px;
    padding-right: 15px;
    column-gap: 7px;
    &.btn-expanded {
      min-width: 100px;
    }
    &.btn-expanded-sm {
      min-width: 80px;
    }
    &.btn-expanded-lg {
      min-width: 130px;
    }
  }
  &.btn-lg {
    font-size: $largeFontSize - 2;
    min-height: $largeFieldHeight;
    padding-left: 30px;
    padding-right: 30px;
    &.btn-expanded {
      min-width: 220px;
    }
    &.btn-expanded-sm {
      min-width: 160px;
    }
    &.btn-expanded-lg {
      min-width: 280px;
    }
  }

  // styles
  @each $name, $color in $colorsMap {
    &.btn-#{$name} {
      background: $color;
      color: $txtPrimaryColor;
      @if (lightness($color) < 70) {
        color: #fff;
      }
      &:hover,
      &:focus-visible {
        background: darken($color, 4%);
      }
      &:active {
        background: darken($color, 7%);
      }
    }
  }
  &[disabled],
  &.btn-disabled {
    cursor: default;
    background: $borderColor;
    color: $txtDisabledColor;
    &:hover, &:focus-visible, &:active {
      background: $borderColor;
    }
    &.btn-header {
      opacity: 0.4;
      background: none;
    }
  }

  // variations
  &.btn-block {
    display: flex;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  &.btn-circle {
    padding: 0;
    flex-shrink: 0;
    width: $baseFieldHeight;
    border-radius: $baseFieldHeight;
    > i {
      font-size: 1.4em;
    }
    &.btn-sm {
      width: $smallFieldHeight;
    }
    &.btn-lg {
      width: $largeFieldHeight;
    }
  }
}


%input {
  display: block;
  width: 100%;
  outline: 0;
  border: 0;
  margin: 1px 0;
  filter: none;
  padding: 5px 12px;
  border-radius: $baseRadius;
  min-height: $baseFieldHeight;
  min-width: 0; // firefox flexbox grow workaround
  line-height: 1;
  color: $txtPrimaryColor;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  background: #fff;
  box-shadow: inset 0 0 0 1px $borderColor;
  transition: color $transitionSpeed,
        background $transitionSpeed,
        box-shadow $transitionSpeed;
  &::placeholder {
    color: $txtHintColor;
  }
  &:focus,
  &.active {
    box-shadow: inset 0 0 0 $focusBorderSize $primaryColor;
  }
  &[readonly],
  &.readonly {
    cursor: default;
    color: $txtHintColor;
  }
  &[disabled],
  &.disabled {
    color: $txtHintColor;
    background: $borderColor;
  }
}

input,
textarea,
select {
  @extend %input;
}
input:-webkit-autofill {
  -webkit-background-clip: text !important;
}
input[type="file"] {
  padding: 9px;
}
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  display: inline;
}
textarea {
  min-height: 80px;
  line-height: 20px;
  resize: vertical;
  padding-top: 10px;
  padding-bottom: 10px;
}
select {
  padding-left: 5px;
}

label {
  position: relative;
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.form-field {
  @extend %block;
  position: relative;
  margin-bottom: $baseSpacing;

  label {
    display: inline-flex;
    vertical-align: top;
    column-gap: 5px;
    align-items: center;
    width: auto;
    clear: both;
    margin: 0 0 5px;
    user-select: none;
  }

  // input group
  .input-group {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: $baseRadius;
    width: 100%;
    margin: 0;
    user-select: auto;
    background: #fff;
    box-shadow: inset 0 0 0 1px $borderColor;
    transition: box-shadow $transitionSpeed,
          background $transitionSpeed;
    %input,
    .select {
      border: 0;
      flex-grow: 1;
      box-shadow: none !important;
      border-radius: 0;
      background: none;
      ~ %input {
        border-left: 1px solid $borderColor;
      }
    }
    .addon {
      outline: 0;
      width: auto;
      display: inline-flex;
      align-self: stretch;
      align-items: center;
      text-align: center;
      justify-content: center;
      color: $txtHintColor;
      flex-shrink: 0;
      margin: 0;
      line-height: 1;
      padding: 0 12px;
      background: none;
      &.prefix {
        padding-right: 0;
      }
      &.suffix {
        padding-left: 0;
      }
      i {
        vertical-align: top;
      }
      .btn {
        min-height: $baseFieldHeight - 12;
      }
    }
    & > :first-child {
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
    }
    & > :last-child {
      border-top-right-radius: inherit;
      border-bottom-right-radius: inherit;
    }
    &:focus-within {
      box-shadow: inset 0 0 0 $focusBorderSize $primaryColor;
    }
    &.disabled {
      background: $borderColor;
    }
  }

  // states
  &.required {
    label:not(.addon):not(.input-group):after {
      content: '*';
      position: relative;
      vertical-align: top;
      color: $dangerColor;
      font-size: 0.75em;
      line-height: 1;
      padding: 0 1px;
    }
  }

  // sizes
  &.form-field-lg {
    .input-group,
    %input {
      min-height: $largeFieldHeight;
      font-size: $largeFontSize;
    }
    %input {
      padding-left: 15px;
      padding-right: 15px;
    }
    .input-group .addon .btn {
      min-height: $largeFieldHeight - 12;
    }
    textarea {
      min-height: 120px;
    }
  }
  &.form-field-sm {
    .input-group,
    %input {
      min-height: $smallFieldHeight;
      font-size: $smallFontSize;
    }
    .input-group .addon .btn {
      min-height: $smallFieldHeight - 6;
    }
    textarea {
      min-height: 60px;
    }
  }

  // checkbox/radio
  input[type="radio"],
  input[type="checkbox"] {
    $size: 19px;
    position: absolute;
    z-index: -1;
    left: 0;
    width: 0;
    height: 0;
    min-height: 0;
    min-width: 0;
    border: 0;
    background: none;
    user-select: none;
    pointer-events: none;
    box-shadow: none;
    opacity: 0;
    ~ label {
      margin: 0;
      outline: 0;
      display: inline-flex;
      vertical-align: top;
      align-items: center;
      width: auto;
      user-select: none;
      padding-left: $size + 7px;
      line-height: $size;
      min-height: $size;
      &:before {
        content: '';
        display: inline-block;
        vertical-align: top;
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: $size;
        height: $size;
        line-height: $size;
        font-family: $iconFontFamily;
        text-align: center;
        font-size: $largeFontSize;
        color: #fff;
        cursor: pointer;
        background: #fff;
        box-shadow: 0 0 0 1px $borderColor;
        border-radius: $baseRadius;
        transition: transform $transitionSpeed * 0.5,
              box-shadow $transitionSpeed,
              color $transitionSpeed,
              background $transitionSpeed;
      }
      &:active:before {
        transform: scale(0.9);
      }
    }
    & ~ label:hover {
      &:before {
        background: $borderColor;
      }
    }
    &:focus ~ label {
      &:before {
        box-shadow: inset 0px 0px 0px $focusBorderSize $primaryColor;
      }
    }
    &:checked ~ label {
      &:before {
        content: '\eb7a';
        background: $primaryColor;
      }
    }
    &:disabled ~ label {
      pointer-events: none;
      color: $txtDisabledColor;
      &:before {
        opacity: 0.5;
      }
    }
  }
  input[type="radio"] {
    & ~ label:before {
      border-radius: 50%;
      font-size: 10px;
    }
    &:checked ~ label:before {
      content: '\eb7c';
      color: #fff;
    }
  }
}
