.app-body {
  @extend %block;
  flex-grow: 1;
}

.app-header,
.app-footer {
  @extend %flex;
  .wrapper {
    display: flex;
    align-items: center;
  }
}

// header
.app-header {
  padding: $smallSpacing 0;
  margin: 0 0 ($smallSpacing - 10);
}
.breadcrumbs {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  .breadcrumb-item {
    $spacing: 38px;
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 21px;
    margin-right: $spacing;
    color: $txtHintColor;
    i {
      vertical-align: top;
      font-size: 24px;
    }
    &:after {
      content: "/";
      position: absolute;
      top: 50%;
      right: -($spacing * .5) - 4;
      margin-top: -10px;
      height: 20px;
      line-height: 20px;
      font-size: 0.9em;
      text-decoration: none;
      color: $txtPrimaryColor;
      opacity: 0.1;
      pointer-events: none;
      user-select: none;
    }
    &:last-child {
      color: $txtPrimaryColor;
      &:after {
        content: none;
        display: none;
      }
    }
  }
  a.breadcrumb-item {
    transition: color $transitionSpeed;
    &:hover,
    &:active,
    &:focus-visible {
      color: $txtPrimaryColor;
    }
  }
}

// footer
.app-footer {
  color: #fff;
  padding: $largeSpacing 0;
  background: $primaryColor;
  a {
    outline: 0;
    cursor: pointer;
    opacity: 0.6;
    text-decoration: none;
    transition: opacity $transitionSpeed;
    &:hover,
    &:focus-visible,
    &.router-link-exact-active {
      opacity: 1;
    }
  }
  .links {
    flex-grow: 1;
    display: flex;
    align-items: center;
    column-gap: $baseSpacing;
    .link-item {
      display: inline-flex;
      align-items: center;
      column-gap: 10px;
      font-weight: bold;
      font-size: $largeFontSize;
      color: inherit;
      i {
        font-size: 1.2em;
      }
    }
  }
  .company {
    flex-shrink: 0;
    font-size: $smallFontSize;
    opacity: 0.6;
  }

  @media screen and (max-width: 650px) {
    padding: $baseSpacing 0;
    .wrapper {
      flex-direction: column;
      row-gap: $baseSpacing;
    }
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
