.buildings-list {
  @extend %block;
  margin: 0 0 $baseSpacing;
  .list-row {
    @extend %flex;
    padding: 20px 0;
    gap: $baseSpacing;
    border-bottom: 1px solid $borderColor;
    animation: fadeIn ($transitionSpeed * 2);
    &.list-row-header {
      color: $txtHintColor;
      font-size: $smallFontSize;
      font-weight: bold;
    }
  }
  .list-col {
    word-break: break-word;
  }

  // cols sizing
  .col-id {
    width: 5%;
  }
  .col-image {
    width: 10%;
  }
  .col-name {
    width: 20%;
  }
  .col-area {
    width: 15%;
  }
  .col-location {
    width: 30%;
  }
  .col-ctrls {
    width: 20%;
    text-align: right;
  }
  .responsive-label {
    display: none;
    font-size: $smallFontSize;
    color: $txtHintColor;
    font-weight: bold;
  }

  @media screen and (max-width: 800px) {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: $smallSpacing;
    .list-row-header {
      display: none;
    }
    .list-row {
      flex-direction: column;
      border: 1px solid $borderColor;
      border-radius: $baseRadius;
      width: calc(50% - #{$smallSpacing * 0.5});
      align-items: flex-start;
      padding: $smallSpacing;
      gap: $smallSpacing * 0.5;
      .list-col {
        width: 100%;
      }
      .responsive-label {
        display: block;
      }
      .col-image {
        order: -1;
        text-align: center;
        .thumb {
          width: 80px;
          height: 80px;
        }
      }
      .col-ctrls {
        text-align: center;
      }
    }
  }
  @media screen and (max-width: 550px) {
    .list-row {
      width: 100%;
    }
  }
}

.buildings-search-bar {
  @extend %flex;
  margin: 0 0 $baseSpacing;
  @media screen and (max-width: 650px) {
    flex-direction: column;
    margin-bottom: $smallSpacing;
    gap: $smallSpacing * 0.5;
    & > * {
      min-width: 100%;
      max-width: 100%;
    }
  }
}
