.overlay-panel {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 500px;
  max-width: 100%;
  background: #fff;

  // close handle
  .panel-close {
    $size: 30px;
    position: absolute;
    right: 100%;
    left: auto;
    top: 22px;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    width: $size;
    height: $size;
    color: #fff;
    cursor: pointer;
    transition: background $transitionSpeed;
    border-radius: $size;
    &:hover {
      background: rgba(#fff, 0.2);
    }
    &:active {
      transition-duration: ($transitionSpeed * 0.5);
      background: rgba(#fff, 0.4);
    }
  }

  // header
  .panel-header {
    @extend %flex;
    padding: $smallSpacing;
    &:empty {
      display: none;
    }
  }

  // body
  .panel-body {
    @extend %block;
    padding: $smallSpacing;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .panel-header:not(:empty) ~ .panel-body {
    padding-top: ($smallSpacing * 0.5);
  }

  // footer
  .panel-footer {
    @extend %flex;
    padding: $smallSpacing;
    border-top: 1px solid $borderColor;
    &:empty {
      display: none;
    }
  }

  @media screen and (max-width: 640px) {
    width: 100%;
  }
}

.overlay-panel-bg {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: $overlayColor;
  user-select: none;
}

.overlay-panel-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}

// show transition state
.panel-slide-enter-active,
.panel-slide-leave-active {
  transition: opacity $transitionSpeed;
  .overlay-panel {
    transition: transform $transitionSpeed;
  }
}

// hide transition state
.panel-slide-enter-from,
.panel-slide-leave-to {
  opacity: 0;
  .overlay-panel {
    transform: translateX(30px);
  }
}
