$txtPrimaryColor:  #222848;
$txtHintColor:     #8790a1;
$txtDisabledColor: #bdc2cb;

$primaryColor: #aa0045;
$successColor: #03a07c;
$dangerColor:  #f5264c;
$warningColor: #ff9d09;
$borderColor:  #e7ebef;
$overlayColor: rgba(#222848, 0.45);

$baseFontSize:  14px;
$smallFontSize: 13px;
$largeFontSize: 15px;

$baseFieldHeight: 40px;
$smallFieldHeight: 32px;
$largeFieldHeight: 52px;

$baseSpacing: 40px;
$smallSpacing: 25px;
$largeSpacing: 60px;

$baseWrapperWidth: 1200px;
$focusBorderSize:  2px;
$baseRadius:       3px;
$transitionSpeed:  0.15s;

$baseFontFamily: 'Ubuntu', sans-serif, emoji;
$iconFontFamily: 'remixicon';

// Maps
// ----
$colorsMap: (
  "primary": $primaryColor,
  "success": $successColor,
  "danger":  $dangerColor,
  "warning": $warningColor,
  "border":  $borderColor,
);
$sidesMap: (
  "t": "top",
  "r": "right",
  "b": "bottom",
  "l": "left",
);
$sizesMap: (
  "base": $baseSpacing,
  "sm":   $smallSpacing,
  "lg":   $largeSpacing,
);
