<script>
import { mapState }         from "vuex";
import BuildingsList        from "@/components/BuildingsList.vue";
import BuildingsPlaceholder from "@/components/BuildingsPlaceholder.vue";

export default {
  components: {
    "buildings-list":        BuildingsList,
    "buildings-placeholder": BuildingsPlaceholder,
  },
  computed: {
    ...mapState({
      buildings: (state) => state.buildings.buildings,
    }),
  },
  beforeMount() {
    document.title = "Buildings";
  }
};
</script>

<template>
  <main class="app-body">
    <div class="wrapper">
      <header class="app-header">
        <nav class="breadcrumbs">
          <router-link class="breadcrumb-item" :to="{ name: 'home' }">
            <i class="ri-home-5-line"></i>
          </router-link>
          <span class="breadcrumb-item">Buildings</span>
        </nav>

        <div class="flex-fill"></div>

        <figure class="profile thumb thumb-sm thumb-rounded">
          <i class="ri-user-line"></i>
        </figure>
      </header>

      <buildings-list v-if="buildings.length" />

      <buildings-placeholder v-else />
    </div>
  </main>
</template>
