<script>
import { mapGetters, mapActions } from "vuex";
import { randomString }           from "@/utils";
import OverlayPanel               from "@/components/OverlayPanel.vue";
import ImageSelect                from "@/components/ImageSelect.vue";

export default {
  name: "building-panel",
  components: {
    "overlay-panel": OverlayPanel,
    "image-select":  ImageSelect,
  },
  data() {
    return {
      formId: "form_" + randomString(5),
      model: {
        id:       null,
        name:     "",
        area:     null,
        location: "",
        image:    "",
      },
    };
  },
  computed: {
    ...mapGetters({
      getBuildingById: "buildings/getById",
    }),
    isNew() {
      return !this.model?.id;
    },
  },
  methods: {
    ...mapActions({
      addOrReplaceBuilding: "buildings/addOrReplace",
    }),

    /**
     * Shows the building upsert panel.
     *
     * If building with `id` doesn't exist (or is not set),
     * the panel form is loaded with empty/clean state.
     *
     * @param {Number} [id]
     */
    show(id) {
      const data = this.getBuildingById(id) || {};

      this.load(data);

      return this.$refs?.panel?.show();
    },

    /**
     * Hides the building panel.
     */
    hide() {
      return this.$refs?.panel?.hide();
    },

    /**
     * Loads model's data.
     *
     * @param {Object} [data]
     */
    load(data) {
      data = data || {};

      this.model = {
        id:       data.id || null,
        name:     data.name?.length ? data.name : "",
        area:     data.area > 0 ? data.area : null,
        location: data.location?.length ? data.location : "",
        image:    data.image?.length ? data.image : "",
      };
    },

    /**
     * Persists building changes and hides the panel.
     */
    save() {
      if (!this.$refs.form?.checkValidity()) {
        return;
      }

      this.addOrReplaceBuilding(this.model);

      this.hide();

      this.$emit("save");
    },
  },
};
</script>

<template>
  <overlay-panel ref="panel">
    <template v-slot:header>
      <h5>{{ isNew ? "Add building" : "Update building" }}</h5>
    </template>

    <form ref="form" :id="formId" class="block building-form" @submit.prevent="save()">
      <div v-if="!isNew" class="form-field">
        <label :for="formId + '_id'">ID</label>
        <input :id="formId + '_id'" :value="model.id" type="text" disabled />
      </div>

      <div class="form-field">
        <label :for="formId + '_image'">Image</label>
        <image-select v-model="model.image" :id="formId + '_image'" alt="Building image" />
      </div>

      <div class="form-field required">
        <label :for="formId + '_name'">Name</label>
        <input v-model="model.name" :id="formId + '_name'" type="text" required />
      </div>

      <div class="form-field required">
        <label :for="formId + '_area'">Area</label>
        <div class="input-group">
          <input
            v-model="model.area"
            :id="formId + '_area'"
            type="number"
            min="1"
            max="1000000000"
            required
          />
          <div class="addon suffix">m<sup>2</sup></div>
        </div>
      </div>

      <div class="form-field">
        <label :for="formId + '_location'">Location</label>
        <textarea v-model="model.location" :id="formId + '_location'"></textarea>
      </div>
    </form>

    <template v-slot:footer>
      <button class="btn" @click.prevent="$refs.panel?.hide()">Cancel</button>

      <div class="flex-fill"></div>

      <button :form="formId" class="btn btn-expanded-sm btn-primary">
        {{ isNew ? "Add building" : "Save changes" }}
      </button>
    </template>
  </overlay-panel>
</template>
