<script>
import BuildingPanel from "@/components/BuildingPanel.vue";

export default {
  components: {
    "building-panel": BuildingPanel,
  },
};
</script>

<template>
  <div class="placeholder m-t-base m-b-base">
    <div class="icon">
      <i class="ri-building-line"></i>
    </div>

    <h5>Keep track and organize all your buildings data.</h5>

    <button
      type="button"
      class="btn btn-primary btn-lg btn-expanded-lg"
      @click.prevent="$refs.panel?.show()"
    >
      <i class="ri-add-line"></i>
      <span class="txt">Add building</span>
    </button>
  </div>

  <building-panel ref="panel" />
</template>
