<script>
import { mapState, mapActions } from "vuex";
import SearchField              from "@/components/SearchField.vue";
import BuildingPanel            from "@/components/BuildingPanel.vue";

export default {
  components: {
    "search-field": SearchField,
    "building-panel": BuildingPanel,
  },
  data() {
    return {
      searchTerm: "",
    };
  },
  computed: {
    ...mapState({
      buildings: (state) => state.buildings.buildings,
    }),

    /**
     * Returns buildings matching `this.searchTerm`.
     *
     * @return {Array}
     */
    filteredBuildings() {
      if (!this.searchTerm.length) {
        return this.buildings;
      }

      let normalizedSearchTerm = this.searchTerm.toLowerCase();

      return this.buildings.filter((item) => {
        const searchableStr = (
          item.id +
          item.name.toLowerCase() +
          item.location.toLowerCase()
        )

        return searchableStr.indexOf(normalizedSearchTerm) !== -1;
      });
    },
  },
  methods: {
    ...mapActions({
      setBuildings:   "buildings/set",
      removeBuilding: "buildings/remove",
    }),

    /**
     * Clears listing's search.
     */
    clearSearch() {
      this.searchTerm = "";
    },

    /**
     * Removes single building with confirmation dialog.
     *
     * @param {Object} building
     */
    confirmRemoveBuilding(building) {
      building = building || {};

      if (
        !building.id ||
        !window.confirm(`Do you really want to remove ${building.name} (${building.id})?`)
      ) {
        return;
      }

      this.removeBuilding(building.id);
    },
  },
};
</script>

<template>
  <div class="buildings-search-bar">
    <button type="button" class="btn btn-primary" @click.prevent="$refs.panel?.show()">
      <i class="ri-add-line"></i>
      <span class="txt">Add building</span>
    </button>

    <div class="flex-fill"></div>

    <search-field
      v-model="searchTerm"
      placeholder="Search by ID, name, location..."
    />
  </div>

  <div v-if="filteredBuildings.length" class="buildings-list">
    <div class="list-row list-row-header">
      <div class="list-col col-id">ID</div>
      <div class="list-col col-image">Image</div>
      <div class="list-col col-name">Name</div>
      <div class="list-col col-area">Area</div>
      <div class="list-col col-location">Location</div>
      <div class="list-col col-ctrls"></div>
    </div>
    <div v-for="building in filteredBuildings" :key="building.id" class="list-row">
      <div class="list-col col-id">
        <span class="responsive-label">ID</span>
        <div class="content">{{ building.id }}</div>
      </div>
      <div class="list-col col-image">
        <figure class="thumb">
          <img
            v-if="building.image"
            :src="building.image"
            alt="Building image"
          />
          <i v-else class="ri-landscape-fill"></i>
        </figure>
      </div>
      <div class="list-col col-name">
        <span class="responsive-label">Name</span>
        <div class="content">{{ building.name }}</div>
      </div>
      <div class="list-col col-area">
        <span class="responsive-label">Area</span>
        <div class="content">{{ building.area || 0 }} m<sup>2</sup></div>
      </div>
      <div class="list-col col-location">
        <span class="responsive-label">Location</span>
        <div class="content">{{ building.location?.length ? building.location : '—' }}</div>
      </div>
      <div class="list-col col-ctrls">
        <div class="group">
          <button
            type="button"
            class="btn btn-circle"
            @click.prevent="$refs.panel?.show(building.id)"
          >
            <i class="ri-pencil-line"></i>
          </button>
          <button
            type="button"
            class="btn btn-circle"
            @click.prevent="confirmRemoveBuilding(building)"
          >
            <i class="ri-delete-bin-7-line"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div v-else-if="buildings.length" class="placeholder m-b-base">
    <div class="icon">
      <i class="ri-building-line"></i>
    </div>

    <h5>No buildings found.</h5>

    <button
      v-if="searchTerm.length"
      type="button"
      class="btn btn-border"
      @click.prevent="clearSearch()"
    >
      <span class="txt">Clear search</span>
    </button>
  </div>

  <building-panel ref="panel" @save="clearSearch()" />
</template>
