<script>
import { randomString, generateThumb } from "@/utils";

export default {
  name: "image-select",
  props: {
    modelValue: {
      type:    String,
      default: "",
    },
    alt: {
      type:    String,
      default: "",
    },
    id: {
      type: String,
      default() {
        return "image_" + randomString(5);
      },
    },
  },
  methods: {
    remove() {
      this.$emit("update:modelValue", "");
    },
    onChange(e) {
      const file = e?.target?.files?.length ? e.target.files[0] : null;

      generateThumb(file).then((thumb) => {
        this.$emit("update:modelValue", thumb);
      });
    },
  },
};
</script>

<template>
  <input
    type="file"
    :id="id"
    class="hidden"
    accept="image/png, image/jpeg, image/jpg"
    @change="onChange"
  />

  <div class="flex">
    <label :for="id" class="m-0">
      <figure class="thumb thumb-lg m-r-10">
        <template v-if="modelValue">
          <span class="remove-handle" title="Remove" @click.prevent.stop="remove()">
            <i class="ri-close-line"></i>
          </span>
          <img :src="modelValue" :alt="alt" />
        </template>
        <i v-else class="ri-landscape-fill"></i>
      </figure>
    </label>

    <label :for="id" class="btn btn-sm m-0">Upload image</label>
  </div>
</template>
