<script>
export default {
  name: "overlay-panel",
  props: {
    container: {
      default: "body", // string or node
    },
  },
  data() {
    return {
      isActive: false,
    };
  },
  computed: {
    containerElem() {
      if (typeof this.container === "string") {
        return document.querySelector(this.container);
      }
      return this.container;
    },
  },
  mounted() {
    let popupWrapper = this.$refs.wrapper;

    // relocate to the specified container
    popupWrapper?.parentNode?.removeChild(popupWrapper);
    this.containerElem?.appendChild(popupWrapper);
  },
  beforeUnmount() {
    let popupWrapper = this.$refs.wrapper;

    // clear relocated dom
    popupWrapper?.parentNode?.removeChild(popupWrapper);
  },
  methods: {
    show() {
      this.isActive = true;
      this.$emit("show");
    },
    hide() {
      this.isActive = false;
      this.$emit("hide");
    },
  },
};
</script>

<template>
  <transition name="panel-slide">
    <div
      ref="wrapper"
      v-show="isActive"
      class="overlay-panel-wrapper"
      :class="{ active: isActive }"
    >
      <div class="overlay-panel-bg" @click.prevent="hide()"></div>

      <div class="overlay-panel">
        <div class="panel-close" @click.prevent="hide()">
          <i class="ri-close-line"></i>
        </div>

        <header class="panel-header">
          <slot name="header"></slot>
        </header>

        <div class="panel-body">
          <slot></slot>
        </div>

        <footer class="panel-footer">
          <slot name="footer"></slot>
        </footer>
      </div>
    </div>
  </transition>
</template>
