<script>
export default {
  name: "search-field",
  props: {
    modelValue: {
      type:    String,
      default: "",
    },
    placeholder: {
      type:    String,
      default: "",
    },
  },
  computed: {
    searchTerm: {
      get() {
        return this.modelValue;
      },
      set(value) {
        this.$emit("update:modelValue", value);
      },
    },
  },
};
</script>

<template>
  <div class="form-field search-field">
    <div class="input-group">
      <div class="addon prefix">
        <i class="ri-search-line"></i>
      </div>
      <input v-model="searchTerm" type="text" :placeholder="placeholder" />
      <div v-show="searchTerm.length" class="addon suffix">
        <button
          type="button"
          class="btn btn-sm btn-primary btn-circle"
          title="Clear"
          @click.prevent="searchTerm = ''"
        >
          <i class="ri-close-line"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .search-field {
    margin: 0;
    width: 300px;
    .input-group {
      border-radius: 30px;
    }
  }
</style>
