<template>
  <router-view />

  <footer class="app-footer">
    <div class="wrapper">
      <nav class="links">
        <router-link class="link-item" :to="{ name: 'home' }">
          <i class="ri-home-5-line"></i>
          <span class="txt">Home</span>
        </router-link>
        <router-link class="link-item" :to="{ name: 'buildings' }">
          <i class="ri-building-line"></i>
          <span class="txt">Buildings</span>
        </router-link>
      </nav>

      <a class="company" href="http://www.next-it.bg/" target="_blank" rel="noopener">
        <span class="txt">Next IT Services</span>
      </a>
    </div>
  </footer>
</template>

<style src="@/assets/scss/main.scss" lang="scss"></style>
